* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(17, 155, 219);
}

body {
    min-height: 100vh;
    padding: 1rem 4rem;
    background-color: rgb(32, 32, 37);
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.4);    
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 1rem;
}



/* Product card 1 begins */
.prod-1,
.prod-2,
.prod-3,
.prod-7,
.prod-8 {
    background-color: #f2f2f2;
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
    height: 280px;
    width: 220px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-1:hover,
.prod-2:hover,
.prod-3:hover,
.prod-7:hover,
.prod-8:hover {
    -webkit-box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);   
    box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);
}

.prod-1 .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}

.prod-1 .bg .form {
    position: absolute;
    background-color: rgb(187, 191, 194);
    width: 150%;
    height: 80%;
    transform: rotate(-15deg);
    transform-origin: bottom center;
    top: -30%;
    left: -25%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-1 .bg .logo {
    position: absolute;
    bottom: 6%;
    opacity: 0.8;
    z-index: 1;
    transform: scale(2);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-1:hover .logo {
    transform: scale(0.9);
    bottom: 28%;
}

.prod-1:hover .form {
    transform: rotate(30deg);
    top: -45%;
}


.prod-1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.prod-1 .content img {
    z-index: 10;
    width: 76%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-1 .content span {
    text-transform: uppercase;
    z-index: 10;
}

.prod-1 .content .name {
    font-weight: 300;
    margin-top: 10px;
}

.prod-1 .content .price {
    font-weight: 500;
    font-size: 1.25rem;
}

.prod-1 .content button {
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: var(--blue);
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-1 .content button:hover {
    background-color: rgb(25, 177, 248);
}

button:focus {
    outline: none;
}

.prod-1:hover .prod-img {
    width: 60%;
}

.prod-1:hover button {
    transform: translateY(0);
}

/* Product card 1 ends */



/* Product card 2 begins */

.prod-2 .bg-form {
    width: 110px;
    height: 110px;
    background-color: var(--blue);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    top: -60px;
    right: -50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-2 .r-arrow {
    font-size: 1.25rem;
    position: relative;
    color: #f2f2f2;
    text-align: right;
    z-index: 2;
    padding-top: 8px;
    padding-right: 16px;
}

.prod-2 .content {
    margin-top: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.prod-2 span,
.prod-2 p {
    position: relative;
    z-index: 10;
}

.prod-2 span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
}

.prod-2 p {
    margin-top: 1rem;
    font-weight: 300;
}

.prod-2:hover .bg-form {
    width: 500px;
    height: 500px;
    top: -100px;
    right: -100px;
}

.prod-2:hover .content {
    color: #fff;
}
/* Product card 2 ends */


/* Product card 3 begins */
.prod-3 {
    background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.form-triangle-right-blue,
.form-triangle-right-white {
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 10px;
    top: 90px;
    opacity: 0.7;
    
}

.form-triangle-right-blue {
    border-right: 20px solid var(--blue);
    transform: scale(2.8) translateX(100%);
    transition: all 0.1s ease-in-out;
}

.form-triangle-right-white {
    border-right: 20px solid #fff;
    transform: scale(5) translateX(100%);
    transition: all 0.3s ease-in-out;
}

.prod-3:hover .form-triangle-right-blue {
    transform: scale(2.8) translateX(0);
    transition-delay: 0.1s;
}

.prod-3:hover .form-triangle-right-white {
    transform: scale(5) translateX(0);
    transition-delay: 0.1s;
}

.form-triangle-bottom-white,
.form-triangle-bottom-blue {
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -80px;
    left: 10px;
    opacity: 0.7;
    transform: rotate(115deg) scale(0);
}

.form-triangle-bottom-white {
    border-left: 10px solid #fff;
    transition: all 0.1s ease-in-out;
}

.form-triangle-bottom-blue {
    border-left: 10px solid var(--blue);
    transition: all 0.3s ease-in-out;
}

.prod-3:hover .form-triangle-bottom-white {
    transform: rotate(115deg) scale(17);
}

.prod-3:hover .form-triangle-bottom-blue {
    transform: rotate(115deg) scale(16);
}

.prod-3 .name {
    position: absolute;
    left: 12px;
    bottom: 36px;
    color: #f2f2f2;
    font-size: 1rem;
    font-weight: 500;
    transform: translateX(-120%);
    transition: all 0.3s ease-in-out;
}

.prod-3:hover .name {
    transform: translateX(0);
}

.prod-3 .socials {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #f2f2f2;
}

.prod-3 .socials span:not(:last-child) {
    margin-right: 4px;
}

.prod-3 span[uk-icon*="icon"] {
    font-size: 10px;
    transform: translateY(150%);
    transition: all 0.2s ease-in-out;
}

.prod-3 span[uk-icon*="twitter"] {
    transition-delay: 0.1s;
}

.prod-3 span[uk-icon*="instagram"] {
    transition-delay: 0.2s;
}

.prod-3 span[uk-icon*="linkedin"] {
    transition-delay: 0.3s;
}

.prod-3:hover span[uk-icon*="icon"] {
    transform: translateY(0);
}
/* Product card 3 ends */


/* Product card 4 begins */
.prod-4 {
    height: 280px;
    width: 220px;
    perspective: 600px;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.3s;
}

.prod-4 .card {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
}

.prod-4:hover {
    -webkit-box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);   
    box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);
}

.prod-4 .card-front,
.prod-4 .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
}

.prod-4 .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card-front img {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
}

.prod-4 .card-back {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-back span {
    font-size: 1rem;
    color: rgb(33, 34, 37);
}

.card-back p {
    font-size: 0.825rem;
    font-weight: 300;
}

.prod-4:hover .card {
    transform: rotateY(0);
}
/* Product card 4 ends */



/* Product card 5 begins */
.prod-5 {
    height: 280px;
    width: 220px;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 600px;
}

.prod-5 .card {
    pointer-events: none;
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
    background-color: var(--blue);
    color: #f2f2f2;
    position: relative;
    padding: 20px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/2471172/pexels-photo-2471172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition: all 0.1s ease;
}

.prod-5:hover .card {
    -webkit-box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);   
    box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);
}

.prod-5 .card .title {
    font-size: 1.25rem;
    font-weight: 500;
    transform: translateZ(40px);
}

.prod-5 .card .text {
    font-weight: 300;
    transform: translateZ(20px);
}

.prod-5 .card .copy {
    font-size: 0.825rem;
    font-weight: 300;
    transform: translateZ(30px);
}
/* Product card 5 ends */



/* Product card 6 begins */
.prod-6 {
    height: 280px;
    width: 220px;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.prod-6 .card {
    pointer-events: none;
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
    background-color: var(--blue);
    color: #f2f2f2;
    position: relative;
    padding: 16px;
    backface-visibility: hidden;
    background-image: url("https://images.pexels.com/photos/4967469/pexels-photo-4967469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.prod-6:hover .card {
    -webkit-box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);   
    box-shadow: 0px 8px 27px 8px rgba(0,0,0,0.6);
}

.prod-6 .border {
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 0.625rem;
    transform: translateZ(30px);
}

.prod-6 p.name {
    font-size: 1.8rem;
    line-height: 1.2;
    transform: translateZ(60px) translateX(14px) translateY(-140px);
}

.prod-6 p.location {
    font-weight: 300;
    font-size: 0.825rem;
    transform: translateZ(60px) translateX(14px) translateY(-154px);
}
/* Product card 6 ends */



/* Product card 7 begins */
.prod-7 {
    background-image: url("https://images.pexels.com/photos/3560044/pexels-photo-3560044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
}

.prod-7 .card-bg {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.prod-7 .card-content {
    transform: translateY(100px);
    transition: all 0.3s ease-in-out;
}

.prod-7 h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #f2f2f2;
    margin-bottom: 0;
}

.prod-7 p {
    font-weight: 300;
    color: #f2f2f2;
    font-size: 0.825rem;
    margin-top: 10px;
    margin-bottom: 14px;
}

.prod-7 button {
    padding: 10px;
    width: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: var(--blue);
    color: #f2f2f2;
}

.prod-7:hover .card-bg {
    opacity: 1;
}

.prod-7:hover .card-content {
    transform: translateY(74px);
}
/* Product card 7 ends */



/* Product card 8 begins */
.prod-8 .image {
    position: absolute;
    height: 100%;
    width: 100%;
}

.prod-8 img {
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.prod-8:hover img {
    transform: scale(2);
}

.prod-8 .info {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    padding: 20px;
    text-align: center;
    transform: translateY(35%);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.prod-8 h2 {
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.prod-8 p {
    font-size: 0.825rem;
    font-weight: 300;
}

.prod-8:hover .info {
    transform: translateY(134%)
}
/* Product card 8 ends */